<nav>
    <div class="site-title">
        <a href="/"><h1>Blogs Infinity</h1></a>
        <p>A Infinity of Blogs</p>
    </div>
    <div class="actions">
        <div class="buttons">
            <button>Sign In</button>
            <button>Log In</button>
            <button>Log Out</button>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New blog</a></li>
        </ul>
    </div>
</nav>
